@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

body {
  margin: 0;
  background-color: #212936;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;

  .header__left {
    display: flex;
    align-items: center;

    svg {
      width: 40px;
      height: 40px;
    }

    p {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 18px;
      color: #ffffff;
      margin: 0 0 0 10px;
    }
  }



  .header__right {
    display: flex;
    
    ul {
      display: flex;
      align-items: center;
      gap: 45px;
       cursor: pointer;
    }

    svg {
      width: 14px;
      height: 8px;
      fill: #9DA3AE;
     
      margin: 0 0 0 5px;
    }

    
    a {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      color: #ffffff;
      border-bottom: 2px solid #212936;
      &:hover {
        border-bottom: 2px solid #ffc107;
        transition: all 0.2s ease;
      }
    }
  }
}
